article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-size: 125%;
    background-color: #fcfbfb;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
}

button {
    width: 160px;
    height: 50px;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #ba0621;
    border: none;
    text-transform: uppercase;
    display: block;
}


/* header styles */


header {
    background-image: url(./images/image-1@2x.png);
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    text-align: center;
    width: 100%;
    color: white;
    position: relative;
}

.intropage i{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    visibility: hidden; 
}   


ul {
    list-style-type: none;
}

.left-nav {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25.5px;
    text-transform: uppercase;
    float: left;
    padding-left:0;
}

.right-nav {
    font-family: 'Catamaran', sans-serif;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 18px;
    float: right;
}

.right-nav li {
    float: left;
    padding-left: 34px;
} 

h1 {
    clear: both;
    font-family: 'Kanit', sans-serif;
    font-size: 116.2px;
    font-weight: bold;
    font-style: italic;
    width: 359px;
    line-height: 0.83;
    text-transform: uppercase;
    padding-top: calc(50vh - 116.2px);
    margin-bottom: 0;
    color: #cc1d36;
    text-align: left; 
}

.intropage p {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    color: #fcfbfb;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 128px;
    margin-left: 7px;
}
.fagroup {
    position: absolute;
    right: 47px;
    bottom: 47px;
    color: white;
}

.fagroup li {
    padding-top: 10px;
}

header p{
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    text-align: left;
}

/* Article gallery styles  */

.newsArticle1{
    font-family: 'Kanit', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.newsArticle1 h2 {
    padding: 93px 0;
}


.gallery img {
    float: left;
}
    
.gallery img:nth-child(2) {
    padding: 0 40px;
}

/* Article 2 Styles */

.highlightArticle2 {
    clear: both;
}

.left-image {
    float: left;
    margin-right: 42px;
}

.highlightArticle2 {
    padding-top: 115px; 
}

.right-text h2{
    padding: 0;
}

.highlightArticle2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #1f2022;
    text-align: left;
}

/* Article 3 styles */

.container {
    clear: both;
    max-width: 1600px;
    padding-top: 112px;
    margin: 0 auto;
    background-color: #fcfbfb;
}

.left-text {
    float: left;
    margin-left: 158px;
    width: 40%;
    color: #00050f;
    padding: 136px 0;
    display: block;
    
} 

.left-text h2 {
    width: 53%;
    line-height: 1.02;
} 

.left-text p {
    width: 89%;
}    

.image-right img {
    float: right;
}


/* Drive in the style in the night styles */

.driveArticle4 {
    margin: 0 auto;
    padding: 0;
}

.far-left img {
    float: left;
    /* width: 798px; */
}



.righty {
    float: right;
    width: 40%;
    color: #1f2022;
    padding: 136px 0;
    display: block;
} 

.righty h2{
    line-height: 1.02;
    width: 70%;

} 

.righty p {
    width: 87%;
}    

/* Icon Article styles */

.finalArticle5 {
    background-image: url(images/image-9-oscar-aguilar-327500-unsplash.png);
    background-size: cover;
    background-position: no-repeat;
    background-position: center;
    height: 100%; 
}  

.fasgroup {
    color: white;
    text-align: center;
    margin: 0;
}

.finalArticle5 li {
    display: block;
    float: left;
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
    height: 50%;
    padding: 113px;    
}

.finalArticle5 i{
    text-align: center;
    font-size: 57px;
    color: #cc1d36;
}

span {
    display: block;
    text-align: center;
    font-family:'Kanit', sans-serif;
    font-size: 31.2px;
    font-weight: bold;
    font-style: italic;
    color: #fcfbfb;
    padding-top: 20px;
    text-transform: uppercase;
}

/* Contact details styles */


.contactDeets {
    background-color: #6c0918;
    background-size: cover;
    background-position: center center;
    color:#fcfbfb;
    height: 340px;
    padding: 93px 0; 
    display: block;
    
}

.contactDeets h4 {
    margin: 0;
    font-family: 'Kanit',sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.contactDeets p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.deetsEmail,
.deetsContact,
.deetsNav2 {
    float: left;
    width: calc((100 / 3) - 80px)
}

.deetsEmail {
    width: 43%;
}
.deetsContact {
    width: 22%;
    line-height: 1.45;
}

.deetsNav2 {
    width: 12%;
    text-align: right;
    line-height: 1.45;
}

.deetsNav2 ul{
    margin: 0;
}

.deetsEmail {
    margin-left: 160px;
}

form {
    border: none;
}

input[type=email] {
    width: 60%;
	height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', serif;
    color: #232323;
    text-decoration: none;
    border: none;
}

input[type=submit] {
    width: 22%;
    height: 50px;
	color: #fcfbfb;
	background:#000000;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

/* footer styles */

footer {
    background-color: #0b0101;

}

.copyright p{
    margin: 0;
    color: #fcfbfb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: block;
    padding: 14px 0;
    text-align: center;
}

/* Media queries styles */

@media (max-width: 1599px) {

    .wrapper {
        width: 95%;
    }

    .left-text {
        width: 30%
    }

    .left-text h2 {
        font-size: 45%;
    }

    .left-text p{
        font-size: 75%;
    }

    .righty h2 {
        font-size: 45%;
    }

    .righty p{
        font-size: 75%;
    }

    img {
        margin: 0 auto;
    }
}

@media (max-width: 1419px) {

    .wrapper {
        width: 75%;
    }

    .left-text {
        width: 28%
    }

    .left-text h2 {
        font-size: 40%;
    }

    .left-text p{
        font-size: 60%;
    }

    .righty {
        width: 30%;
    }

    .righty h2 {
        font-size: 30%;
    }

    .righty p{
        font-size: 60%;
        
    }

    img {
        max-width: 90%;
        margin: 0 auto;
    }

}


@media (max-width: 1334px) {

    .wrapper {
        width: 65%
    }
    

    .left-image {
        float: none;
        margin-right: 0;
    }

    img.left-image {
        width: 100%;
    }

    img.remove {
        padding: 0;
        display: none;
    }

    .gallery img:nth-child(2) {
        width: 50%;
        padding: 0 25px;
    }
    
    img {
        width: 50%;
    }    

    .gallery img {
        padding: 0 25px;
    }
    
    button {
        display: inline;
    }
}

@media (max-width: 960px){
    header {
        background-image: url(./images/image-1@2x.png);
        background-position: center center;
        background-size: cover;
        text-align: center;
        width: 100%;
        color: white;
    }
    .intropage h1 {
        margin-top: 0;
    }
    .intropage nav {
        display: none;  
    }
    .intropage i{
        visibility: visible; 
    }   
    .fagroup {
        display: none;
    }
    .intropage h1, 
    .intropage p{
        margin-left: 50px;
    }
    
    .image-right {
        float: none;
    }

    .left-text {
        width: 100%;
        text-align: center;
    }

    .left-text p {
        font-size: 100%;
        text-align: center;
    }

    .left-text h2 {
        font-size: 100%;
        text-align: center;
    }


}

@media (max-width: 800px){

    .finalArticle5 li {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
        
    }

    .contactDeets {
        height: 100%;
    }
    
    .deetsEmail {
        float: none;
        width: 90%;
        text-align: center;
    }


    input[type=submit] {
        width: 40%;
    }
}   



@media (max-width: 400px) {
    
    img {
        width: 50%;
    }

    .deetsEmail {
        float: left;
        display:block;
        margin: 0 auto;
    }

    .deetsEmail p {
        width: 50%;
    }
}
    .deetsContact,
    .deetsNav2 {
        float: left;
        width: 50%;
    }
